*{
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

body{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login-box{
    width: 350px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.login-header{
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bolder;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, #5b4dff, #d238f5);
    margin: -30px -30px 30px;
}

form input[type="email"],
form input[type="password"]{
    width: 85%;
    padding: 12px 15px;
    margin: 10px;
    border-radius: 25px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px;
    font-size: 14px;
}

.option a {
    color: #7a4df5;
}

button{
    width: 100%;
    background: linear-gradient(135deg, #5b4dff, #d238f5);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

.signup{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}